* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-header {
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header {
    flex-basis: 80%;
    min-height: 50px;
    display: flex;
    background-color: blue;
}

.menu {
    flex-basis: 20%;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.center {
    flex-basis: 60%;
}