* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-header {
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header {
    flex-basis: 80%;
    min-height: 50px;
    display: flex;
    background-color: white;
}

.menu {
    flex-basis: 20%;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.center {
    flex-basis: 60%;
}

.box {
    max-width: 1200px;
    min-height: 500px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.box:nth-child(odd) {
    background-color: rgb(233, 229, 229);
}

.card {
    flex-basis: 80%;
    min-height: 400px;
    background-color: pink;
    display: flex;
}

.card.first {
    flex-basis: 70%;
    min-height: 400px;
}

.image {
    flex-basis: 60%;
    background-color: violet;
}

.explanation {
    flex-basis: 40%;
    background-color: blueviolet;
}

.box.last {
    display: flex;
    max-width: 1200px;
    min-height: 700px;
}

.card.last {
    min-height: 600px;
}

.box.foot {
    background-color: grey;
}

.links {
    border: 1px solid black;
    flex-basis: 20%;
}

.links.socials {
    flex-basis: 40%;
    background-color: blueviolet;
}

.box.footer {
    min-height: 80px;
}

.card.footer {
    flex-basis: 80%;
    min-height: 50px;
    justify-content: space-between;
}

